<div class="produto">
  <canvas id="canva__{{ID}}"></canvas>
  <aside>
    <h2>{{NAME}}</h2>
    <p>R$ {{PRICE}}</p>
    <div class="buttons">
      <div class="rotate__buttons">
        <label for="">Girar X</label>
        <input value="0" type="range" min="0" max="360" id="rotate__Y__{{ID}}" />
        <label for="">Girar Y</label>
        <input value="0" type="range" min="0" max="360" id="rotate__X__{{ID}}" />
        <label for="">Zoom</label>
        <input value="0" type="range" min="0" max="60" id="zoom__{{ID}}" />
      </div>

      <button id="add_to_cart__{{ID}}">Adicionar ao carrinho</button>
    </div>
  </aside>
</div>